*{
    border: 0px solid black; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 

    background-color: gainsboro;
}

.header-container{
    display: flex; 
    justify-content: space-between; 
}

.center{

    display:flex; 
    justify-content: center;
    align-items: center; 

    height: 350px; 
    flex: 1; 
}

.play-container{
    display:flex; 
    justify-content: space-around; 
    gap: 50px; 

    border: 0 px solid green; 
}

.centerBox{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

button{

    background-color: #f44336;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;

    display:flex;
    justify-content: center; 
    margin-top: 20px; 
    margin-bottom: 20px;  
    max-width: 150px; 
}

.footer{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100px; 
}


